src/main/java/Task9___30_11_2017/xsd/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="gem">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="typeName"/>
                <xs:element type="xs:string" name="preciousness"/>
                <xs:element type="xs:string" name="origin"/>
                <xs:element name="visualParam">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="color"/>
                            <xs:element type="xs:string" name="transparency"/>
                            <xs:element name="facetCount">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">

                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:float" name="value"/>
            </xs:sequence>
            <xs:attribute type="xs:ID" name="unicname"/>
        </xs:complexType>
    </xs:element>
</xs:schema>